
<script type="text/javascript">
	var score = 0;
	var wrong_count = 3;
</script>



<h1 >Guess the Movie!</h1>

<h3>Score:</h3><h3 id="score">0</h3>
<h3>Lives:</h3><h3 id="wrong">3</h3>

<div id="body">







	
</div>


<script>
	
		$.post("/game_play/new", {"right/wrong" : "right" }, function(html){
			$('#body').hide();
			$('#body').html(html);
			$('#body').show('10000');
		});

</script>