

<script type="text/javascript">
	var score = 0;
	var wrong_count = 3;
	var counter = 30
	var hint_count = 3
</script>

<div id="header">

<h1 >Guess the Movie!</h1>
<ul id="header-dashboard">
	<li class="score-stuff"><h3>Score:</h3><h3 id="score">0</h3></li>
	<li class="score-stuff"><h3>Lives:</h3><h3 id="wrong">3</h3></li>
	<li class="score-stuff"><h3>Time Remaining:</h3><h3 id="timer">30</h3></li>
	<li class="score-stuff"><h3>Hints Remaining</h3><h3 id="hints">3</h3></li>
</ul>

</div>

<div id="body">







	
</div>


<script>
	
		$.post("/game_play/new", function(html){
			$('#body').hide();
			$('#body').html(html);
			$('#body').show();
		});

</script>