Are you ready to play Guess the movie?
click on next to get started!

<div id="movie">
	<%= link_to "next", '#', id: 'next' %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#next').click(function(event){
			event.preventDefault();
			$.post('/movies', function(html){
				$('#movie').hide();
				$('#movie').html(html);
				$('#movie').show('slow')
			});
		});
	});
</script>
