<div id="begining"><h2 align="center">Are you ready to play Guess the movie?
click on Play to get started!</h2></div>

<div id="movie" align="center">
	<h1><%= link_to "Play", '#', id: 'next' %></h1>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#next').click(function(event){
			event.preventDefault();
			$.post('/movies', function(html){
				$('#begining').hide();
				$('#movie').hide();
				$('#movie').html(html);
				$('#movie').show();
			});
		});
	});
</script>
