<div id="begining"><h2 align="center">Are you ready to play Guess the movie?
click on next to get started!</h2></div>

<div id="movie" align="center">
	<%= link_to "next", '#', id: 'next' %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#next').click(function(event){
			event.preventDefault();
			$.post('/movies', function(html){
				$('#begining').hide();
				$('#movie').hide();
				$('#movie').html(html);
				$('#movie').show('slow')
			});
		});
	});
</script>
