// Place all the styles related to the game_play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*@import "compass" */

body {
  background-color: rgb(255, 204, 0);
}


/*css for button with answers*/
  button#answer{
color:#08233e;
font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
padding:14px;
background-color:rgba(255,204,0,1);
border:1px solid #ffcc00;
-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
border-bottom:1px solid #9f9f9f;
-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
cursor:pointer;
}

button#answer:hover{background-color:rgba(255,204,0,0.8);}

button#answer:active{position:relative;top:2px;}

#wrapper {
 
  margin: 0 auto;


}


button#hint,
button#play {
 
  background: #3498db;
  width: 180px;
  padding: 4px 0;
  
  position: absolute;
  
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;

 h1, p {
    font-family: 'Roboto'; 
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    user-select: none;
  }
  
  &:hover {
    cursor: pointer;
  }
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: darken(#f1c40f, 20%);
    opacity: 0.4;
    bottom: -30px;
  }
}

/*css for button with hint*/



#right-answer {
  display: block;
  margin: 0 auto;
}
h1{
  display: block;
  color: red;
  font-weight: bold;
   font-size: 2em;
}

button#hint {
left: 388px;
 top: 331px;
}
button#play{
 left: 1051px;
  top: 331px;
}



 