// Place all the styles related to the game_play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*@import "compass" */

body {
  background-color: rgb(255, 204, 0);
}


/*css for button with answers*/
  button#answer{
color:#08233e;
font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
padding:14px;
background-color:rgba(255,204,0,1);
border:1px solid #ffcc00;
-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
border-bottom:1px solid #9f9f9f;
-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
cursor:pointer;
margin: 10px;
}

button#answer:hover{background-color:rgba(255,204,0,0.8);}

button#answer:active{position:relative;top:2px;}
 
body {
  background: #f1c40f;
}

.button {
  background: #3498db;
  width: 180px;
 
  position: absolute;
 
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
}
.button p {
  font-family: 'Roboto';
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button:hover {
  cursor: pointer;
}
.button:after {
  content: "";
  display: block;
 
  width: 100%;
  height: 10%;
  border-radius: 50%;
  background-color: #927608;
  opacity: 0.4;
  bottom: -30px;
}

/*css for button with hint*/



h1{
  display: block;
  color: red;
  font-weight: bold;
   font-size: 2em;
}
p#info{
  display: relative;
}

 
 
button#hint, button#play{

margin: 10px ;
}

button#hint, div#cool, button#play { display: inline; 
 }
 
#score, #wrong {
  display: relative;
}

#right-answer {
  display: block;
  margin: 0 auto;
}

@import '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css';
.centered {
left: 388px;
 top: 331px;

}
.centered button {
  color: #fff;
  font-size: 2em;
  background: #af5757;
  padding: 0.5em 1.6em;
  border: 0;
  border-radius: 0.2em;
  cursor: pointer;
}

.copyright {
  margin-top: 20px;
}
.copyright p {
  text-align: center;
}

#readme {
  margin: 0 20px;
}

.prmpt {
  padding: 0;
  border-radius: 0.3em;
  box-shadow: 0px 0px 1em #aaa;
  position: absolute;
  top: 50%;
  width: 300px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
	display:inline-block;
}
.prmpt .close {
  color: #aaa;
  position: absolute;
  top: 1em;
  right: 1em;
  display: block;
  width: 14px;
  height: 14px;
  z-index: 1000;
}
.prmpt .body {
  background: #fff;
  padding: 1.6em 2.6em;
  z-index: 500;
}
.prmpt .body .title {
  color: #444;
  font-size: 1.6em;
  line-height: 1em;
  margin-bottom: 0.62em;
}
.prmpt .body p {
  color: #888;
  line-height: 1.3em;
}
.prmpt .footer {
  display: table;
  width: 100%;
}
.prmpt .footer div {
  color: #fff;
  background: #6cb5f3;
  text-align: center;
  text-transform: uppercase;
  display: table-cell;
  box-sizing: border-box;
  float: left;
  padding: 1em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.prmpt .footer div:hover {
  background: #2591ed;
}

.text {

}
