<!DOCTYPE html>
<html>
<head>
  <title>GuessTheMovie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400"/>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
